.title{
    color: #ff6600;
    font-size: 250%;

    margin-top: 25px;
    margin-left: 15px;
}

.orangeBackground{
    color : white;
    background-color: #ff6600;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.orangeBackground p{
    flex: 1;
    font-size: 150%;
    margin-right: 10px;
    margin-left: 10px;
}

.orangeBackground img{
    flex-shrink: 0;
}

.search{
    color : #ff6600;
    font-size: 150%;
    
    border-style: solid;
    border-radius: 15px;

    display: flex;
    justify-content: center;

    margin: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search-btn-position{
    display: grid;
    align-items: center;
    justify-content: center;
}

.searchedJourney{
    color: #ff6600;
    border-style: solid;
    border-radius: 25px;
    padding: 1%;

    margin: 15px;
}

.user{
    display: flex;
    justify-content: space-between;
}

.buttons{
    display: flex;
    justify-content: start;
}



.image{
    height: auto;
}


#noResults, #intro{
    color : white;
    background-color: #ff6600;
    padding: 10px;
    font-size: 150%;

    display: flex;
}
/* PC */
@media screen and (min-width: 1024px) {
    #noResults, #intro{
        justify-content: space-between;
    }
}
/* Téléphone */
@media screen and (max-width: 767px) {
    #noResults, #intro, .search{
        flex-direction: column;
        align-items: center;
    }
    .search{
        padding-left: 5px;
    }
}