
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background: #ffffff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-bottom: 8px solid #ff6600;
  box-sizing: border-box;
}
header.not-top{
    height: 5%;
    border-bottom: 4px solid #ff6600;
    padding: 15px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

header img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.Logo_StudyGo {
  width: 150px;
}

.Icone_Reservation {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.header-actions {
  display: flex;
  gap: 20px;
  align-items: center;
}


.Icone_Recherche,
.profile-photo {
  width: 40px;
  height: auto;
  cursor: pointer;
}

.Icone_Créertrajet {
  width: 30px;
  height: auto;
  cursor: pointer;
  display: block;
}

.create-trip a {
    display: flex;
    align-items: center;
    gap: 8px; 
}


.create-text {
    color: #ff6600;  
    font-size: 1rem;
    font-weight: bold;
}

.header-actions a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

@media (max-width: 500px) {
  header {
    padding: 12px 16px;
  }

  .Logo_StudyGo { width: 110px; }
  .Icone_Reservation { width: 40px; height: 40px; }
  .Icone_Recherche, .profile-photo { width: 32px; }
  .Icone_Créertrajet { width: 26px; }
  .header-actions { gap: 20px; }
  .create-text {display: none;}

}


